body{
    background-color: rgb(228, 200, 176);
    text-align: center;
    color: rgb(50, 11, 243);
}

h1 {
    text-align: center;
    color: rgb(126, 12, 233);
    
  }
  
  footer {
    text-align: center;
  }